{% extends 'base.html.twig' %}

{% block body %}
<div class="container cart-page mt-5">
    <h2>Récapitulatif de mon panier</h2>

    {% if cart is not null and cart.products is not empty %}
        <button class="my-5 button"><i class="fa-solid fa-ban"></i> Vider mon panier</button>
        {{ include('products/includes/recap_cart.html.twig') }}
    {% else %}
        <h3 class="text-center mt-5">Votre panier est vide.</h3>
        <div class="text-center mt-5">
            <a href="{{ path('product_index') }}" class="button">Continuer mes achats</a>
        </div>
    {% endif %}
</div>
{% endblock %}