.banner {
  height: 27vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(229,32,77);
  background: linear-gradient(105deg, rgba(229,32,77,1) 0%, rgba(195,96,119,1) 80%, rgba(255,255,255,1) 100%);
  color: $white;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
  z-index: 1;

  h1 {
    width: 40vw;
    font-size: 34px;
    font-weight: 200;
    text-transform: capitalize;
  }

  img {
    height: 13vw;
  }
}

@media screen and (max-width: 730px) {
  .banner {
    h1 {
      width: 100vw;
    }
    img {
      display: none;
    }
  }
}