header {
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
  transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
  z-index: 9;
  position: sticky;
  top: 0;
  background-color: $white;

  .pre-nav {
    width: 100vw;
    background-color: $secondary-color;
    color: $white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;

    .left-block {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 13px;

      p {
        padding: 10px 0;
        font-size: 14px;

        &:nth-child(2) {
          margin-left: 2em;
        }
      }

      a {
        color: $white;

        &:nth-child(2) {
          margin-left: 1em;
        }

        &:nth-child(3) {
          margin: 0 1em;
        }

        &:hover {
          color: $primary-color;
        }
      }
    }

    .right-block {
      display: flex;
      align-items: center;
      font-size: 14px;

      p {
        font-size: 14px;
      }
    }
  }

  nav {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;

    .logo-container {

      width: 20vw;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
        width: 10em;
        height: 50px;
      }
    }

    .text-container {
      width: calc(80vw - 40px);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;

      a {
        padding: 1em 2em;

        &:nth-child(1) {
          border-right: 1px solid $light-grey;
        }
      }
    }

    .cart-container {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $primary-color;

      .cart {

        position: relative;

        span {
          position: absolute;
          background-color: #FFF;
          bottom: -13px;
          right: 3px;
          border-radius: 5px;
          line-height: 1.4;
          font-size: 13px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 27px;
          height: 16px;
        }

        a {
          padding: 1em 2em;
          background-color: $primary-color;

          i, svg {
            color: $white;
            font-size: 22px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 730px) {
  header {
    .pre-nav {
      display: none;
    }
  }
}

@media screen and (max-width: 600px) {
  header {
    nav {
      justify-content: space-between;

      .logo-container {
        width: 50vw;
      }
      .text-container {
        display: none;
      }
    }
  }
}