// COLORS
$white: #FFF;
$primary-color: #E5204D;
$secondary-color: #193542;

$blue: #4A8EFF;
$grey: #6C757D;
$light-grey: #D6D6D6;
$green: #30B570;
$purple: #8557D3;
$red: #FF5062;

$success: #018E11;
$info: #2CA8FF;
$warning: #FFB236;
$danger: #FF5062;

// FONTS
$text: 'Montserrat', sans-serif;
$title: 'Poppins', sans-serif;